.order-container {
    color: #fff;
    margin: 0 8px;
    border: none!important;
}

.order-create {
    display: flex;
    margin: 0 auto 1rem;
}

.grid-wrapper { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6rem;
}

.space_separator {
    margin: 0 auto 0 0;
}
